<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercadolibre.challenge.render">

    <application>
        <activity
            android:name=".RenderActivity"
            android:exported="false"
            android:theme="@style/Theme.WebkitChallenge.NoActionBar"
            />
    </application>

</manifest>